* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: rgb(139, 139, 143);
  background: radial-gradient(
    circle,
    rgba(139, 139, 143, 1) 0%,
    rgba(58, 60, 60, 1) 100%
  );
}

.main_container {
  width: 400px;
  height: 620px;
  background-color: black;
  border-radius: 20px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.66);
}

.screen {
  width: 100%;
  height: 120px;
  color: white;
  padding-top: 50px;
  padding-right: 20px;
  font-size: 60px;
  text-align: end;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .screen {
    font-size: 40px;
  }
}
.screen.responsive {
  font-size: 2em;
}

.btn_container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 80px;
  height: 80px;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.x2.number {
  width: 160px;
  border-radius: 40px;
}
.number,
.dot {
  color: white;
  background-color: rgb(66, 65, 63);
}
.orange {
  background-color: orange;
  color: white;
}
